.App {
  text-align: center;
}
body{
  background-color: rgb(210, 186, 255);
  color:#9d1235;
}
header{
  background-color: #9d1235;
}

/******************** BUTTONS **********************/
button{
  background-color:  #ea89a1;
  border: #ea89a1;
  padding: 10px 25px;
  color:white;
  border-radius: 5px;
  margin: 5px;
}
/*Button Hover */
button:hover {
  background-color: #c50031;
  color: white;
}
/* Submit */
input[type=submit] {
  background-color: #ea89a1;
  border: #ea89a1;
  color:white;
  padding: 10px 25px;
  border-radius: 5px;
}
/*Submit Hover */
input[type=submit]:hover {
  background-color: #c50031;
  color: white;
}
/**********************   ****************************/
label {
  display: inline-block;
  width: 110px;
  text-align: left;
}
input{
  border-radius: 5px;
  border:none;
  padding: 10px 25px;
  margin: 5px;
  color:#c50031;
}
/****************** Placeholder Text **********************/
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #924d5e;
  opacity: 1; /* Firefox */
}

.AddContactDiv{
  border: 5px solid #ea89a1;
  margin-top: 15px;
  text-align: left;
}
fieldset{
  border: none;
  text-align: left;
}