body {
  background-color: rgb(82, 0, 82);
  text-align: left;
  color: purple;
  margin: 2em;
}

h1{
  text-align: center;
}

/******************* Container for Users & Weather ******************/
.maincontainer{
  background-color: rgb(255, 200, 0);
  border: 10px double white;
  padding: 5px;

}
/******************* Daily Weather Containers ******************/
.weather-day {
  background-color: purple;
  color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px 5px 0 0;
  border: 5px double white;
  display: inline-block;
  text-align: center;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
  line-height: 35px;
}
/******************* Button ******************/
button {
  float: left;
  margin: 15px;
  background-color: purple;
  border-radius: 10px;
  border: none;
  color:white;
  padding: 10px;
  transition-duration: 0.4s;
  font-size: 15px;
}

button:hover{
  background-color: rgb(192, 68, 192);
  }
/******************* List Items - Removes Bullet Point ******************/
ul {
  list-style: none;
  list-style-position: inside;
  padding: 5px;
}
/******************* Icons ******************/
.icon {
  width: 75px;
  height: 75px;
}

.favicon {
  width: 50px;
  height: 50px;
}

.city {
  font-weight: bold;
}
/******************* Form & Search Bar ******************/
fieldset {
  border: none;
}

input{
  border-radius: 5px;
  border:none;
  padding: 10px 25px;
  margin: 5px;
  color:purple;
}

::placeholder {
  color: purple;
  opacity: .5;
}

label {
  display: inline-block;
  width: 110px;
}